@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;

}
body{
  min-height: 100vh;
  color: #FFF;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

img{
  width: 100%;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
h1{
  margin-top: 0;
  margin-bottom: 10px;
}

.text-light{
  font-weight: 300;
}

button{
  cursor: pointer;
  outline: none;
}

@keyframes fade{
  from{ opacity: 0;}
  to{ opacity: 1;}
}



  .load-icon {
    top: 50%; 
    right: 50%;
    position: absolute;
    transform: translate(50%,-50%);
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* animation: lds-roller 1.2s infinite; */

    
  }

  .load-icon div{
    width: 20px;
    height: 20px;
    background: #FFF;
    margin: 0 5px;
    border-radius: 50px;
  }

  .load-icon div:nth-child(1){
    animation: loadAnimate 1s infinite 0.1s;
  }
  .load-icon div:nth-child(2){
    animation: loadAnimate 1s infinite 0.25s;
  }
  .load-icon div:nth-child(3){
    animation: loadAnimate 1s infinite 0.45s;
  }




  @keyframes loadAnimate {
    0% {
      width: 20px;
      height: 20px;
    }
    50% {
      width: 5px;
      height: 5px;
    }
    100% {
      width: 20px;
      height: 20px;
    }
  }
  
  